body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.87;
  position: absolute;
  top: 0;
}

#box {
  z-index: 1;
  position: relative;
  max-width: 218px;
  padding: 40px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  left: 66vw;
  height: 45vh;
  top: 30vh;
  font-family: Verdana, sans-serif;
  background: rgba(23, 23, 23, 0.4);
}

#box p {
  font-size: 20px;
  margin: 10px 10px 10px 0px;
  color: white;
}

.date {
  width: 100%;
  margin: 10px 10px 10px 0px;
  border: 0;
  border-bottom: 3px solid #376e6f;
  background: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-family: Verdana, sans-serif;
}

#button {
  width: 30%;
  margin-left: 80px;
  padding: 5px;
  background: transparent;
  color: white;
  border-radius: 30px;
  border: 3px solid #f09c67;
  font-family: Verdana, sans-serif;
}

#button:hover {
  background: rgba(55, 110, 111, 0.3);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

#text {
  width: 55vw;
  height: 60vh;
  left: 5.5vw;
  position: absolute;
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
  padding: 40px;
  top: 10px;
}

#loc {
  font-family: "Courier New", monospace;
  font-size: 40px;
  text-transform: lowercase;
  letter-spacing: 20px;
  animation: city 2s linear;
  animation-fill-mode: forwards;
}

#des {
  font-size: 60px;
  font-family: Verdana, sans-serif;
  letter-spacing: 17px;
}

@keyframes city {
  0% {
    transform: translate(-70vw, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

#pg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  background: #376e6f;
  top: 0;
  left: 0;
  animation: transition 3s ease-in-out;
  animation-fill-mode: forwards;
  overflow-x: hidden;
  overflow-y: hidden;
}

@keyframes transition {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(200vw, 0);
  }
}

#plane {
  position: absolute;
  height: 170px;
  animation: plane 1.5s ease-in-out;
  animation-fill-mode: forwards;
  top: 100vh;
  left: -20vw;
}

@keyframes plane {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(80vw, -80vh);
  }
}

#pg2 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  background: #376e6f;
  left: -100vw;
  top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#plane2 {
  position: absolute;
  height: 170px;
  top: 20vh;
}

#plane2.takeoff {
  animation: flight 2s ease-in-out;
  animation-fill-mode: forwards;
}

#pg2.slide {
  animation: trans 1.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes trans {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100vw, 0);
  }
}

@keyframes flight {
  0% {
    transform: translate(40vw, 0);
  }
  100% {
    transform: translate(120vw, 0);
  }
}
