
#menu-bar{
	padding: 1px 10px;
	height: 50px;
}

#logo{
	height: 50px;
	padding: 0px 30px;
}

#nav-bar{
	float: right;
	padding: 15px 30px;
}

#nav-bar a{
	color: white;
	padding: 9px 30px;
	text-decoration: none;
	border-radius: 40px;
	font-size: 18px; 
}

#nav-bar a:hover{
	
	color: rgba(240, 156, 103, 1);
}

#nav-bar a.active{
	color: #F09C67;
	border: 3px solid #376E6F; 
}

body{
	background-color: #171717; 
	height: 100%;
	margin: 0px;
	overflow-x: hidden;
	width: 100%;
}

#head{
	height: 90px;
	margin:0;
}

#end{
		height: 100vh;
		width: 100%;
}

#dest{
	display:none;
}


#pg{
	width:100vw;	
	height: 100vh;
	position: fixed;
	z-index: 2000;
	background: #F09C67;
	top: 0;
	left: -100vw;
	overflow-x: hidden;
	overflow-y: hidden;
}

#plane{
	position: absolute;
 	height: 170px;
	top: 75vh;
}

#plane.takeoff{
	animation: plane 2s ease-in-out;
	animation-fill-mode: forwards;	
}

#pg.slide{
	animation: transition 1.5s ease-in-out;
	animation-fill-mode: forwards;	

}

@keyframes transition{
	0%{
		transform: translate(0,0)
	}
	100%{
		transform: translate(100vw,0)
	}
}

@keyframes plane{
	0%{
		transform: translate(40vw,0)
	}
	100%{
		transform: translate(120vw,0)
	}
}
